:root {
  --glowny-kolor-tla: #e6e6e6;
}
.header {

  padding: 10px;
  text-align: center;
  background: #3399ff;
  color: white;
  font-size: 18px;
}
#container{
    background: var(--glowny-kolor-tla);
}

.footer {
  text-align: center;
  bottom:0;
  background: #3399ff;
  color: black; 
  clear : both;
  position: flex;
}


.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.header li a:hover:not(.active) {
    background-color: #111;
}

.button {
  background-color: #3399ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Main {
  text-align: center;
  background: red;
  color: black;
 

}

.MojeCW1 {
  float:left;
  width:40%;
  margin: 30px;
  text-align: left;
  background: var(--glowny-kolor-tla);
  color: black;
}

.MojeCW2 {
  float:left;
  width:40%;
  padding: 10px;
  margin: 30px;
  text-align: center;
  background: var(--glowny-kolor-tla);
  color: black;

}
.content1 {
    padding: 10px;
  text-align: center;
  background: var(--glowny-kolor-tla);
  color: black;
  font-size: 30px;
}

.content2 {
    padding: 10px;
  text-align: left;
  background: var(--glowny-kolor-tla);
  color: black;
}

.content3 {
  padding: 10px;
  text-align: left;
  background: var(--glowny-kolor-tla);
  color: black;
}

.content4 {
    padding: 10px;
  text-align: center;
  background: var(--glowny-kolor-tla);
  color: black;
}
















